* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: jost; */
    font-weight: 100;
}

html,
body {
    width: 100%;
    height: 100%;
}


@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}


#main {
    /* width: 100%; */
    background-color: #133ACD;
    overflow: hidden;
    position: relative;
}

#page1 {
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
    position: relative;
}

#page1>video {
    object-fit: cover;
    height: 100%;
    /* display: flex; */
    width: 100%;
}

#page1>#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    padding-top: 20px;
    height: 10vh;
    position: absolute;
    width: 100vw;
    /* background-color: red; */
}

#nav>img {
    height: 100%;
    /* width: 10%; */
}

#nav>#btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

#nav>#btn>button {
    padding: 10px 20px;
    border-radius: 50px;
    font-family:  Jost, sans-serif;
    color: white;
    background-color: transparent;
    border: .5px solid rgba(255, 255, 255, 0.493);
    font-size: 12px;
}

#page1>#btom {
    position: absolute;
    bottom: 10%;
    color: white;
    height: 40vh;
    width: 50vw;
    left: 10%;
    /* font-family: b; */
}

#btom>h1 {
    font-size: 6vw;
    font-family:  Jost, sans-serif;
    letter-spacing: -2px;
    font-weight: 100;
    /* font-family: a; */
    margin-bottom: 30px;
    line-height: 1;
}

#inbtom {
    display: flex;
    align-items: center;
    height: 35%;
    width: 100%;
    /* justify-content: space-evenly    ; */
    /* justify-content: space-between; */
    gap: 30px;

}

#inbtom>h4 {
    /* font-size: 100; */
    font-weight: 100;
    font-family: jost;
    font-size: 17px;
    font-family: Jost, sans-serif;
}

#inbtom>button {
    padding: 15px 35px;
    text-transform: uppercase;
    border: none;
    font-family: Jost;
    font-size: 14px;
    color: #0A45E8;
    border-radius: 50px;
}

#page2 {
    display: flex;
    align-items: start;
    font-family: a;

    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background-color: #0a3cce;

}

#page2>h2 {
    font-weight: 100;
    /* font-size: 1.2vw; */
    /* padding: 3vw 0;marg */
    margin-bottom: 3vw;
}

#page2>h1 {
    font-weight: 100;
    font-family: a;
    line-height: 1.3;
    width: 90%;
    font-size: 3.8vw;
    color: #dadada69;
}

#page3 {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: red; */
}

#page3>canvas {
    max-width: 100vw;
    position: relative;
    max-height: 100vh;
}

#page4 {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: salmon;
}

#page4 {
    display: flex;
    align-items: start;
    /* font-family: a; */
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    color: #fff;
    background: linear-gradient(#1137CA,#0F35C5);

}


#page4>h2 {
    font-weight: 100;
    /* font-size: 1.2vw; */
    /* padding: 3vw 0;marg */
    font-family: a;
    margin-bottom: 3vw;
}

#page4>h1 {
    font-family: a;
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 3.8vw;
    color: #dadada69;
}
#page5 {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: red; */
}

#page5>canvas {
    max-width: 100vw;
    position: relative;
    max-height: 100vh;
}


#page6 {
    display: flex;
    align-items: start;
    /* font-family: a; */
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0vw 8vw;
    padding-left: 9vw;
    color: #fff;
    background: #0A3CCE;

}


#page6>h2 {
    font-weight: 100;
    font-size: 1.5vw;
    /* padding: 3vw 0;marg */
    font-family: a;
    margin-bottom: 3vw;
}

#page6>h1 {
    font-family: a;
    font-weight: 100;
    line-height: 1.3;
    width: 90%;
    font-size: 3.8vw;
    color: #dadada69;
}

#page7 {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: red; */
}

#page7>canvas {
    max-width: 100vw;
    position: relative;
    max-height: 100vh;
}

#page7>#pg7gola{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid #fff;
}

#pg7ingola{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
}

#page8 {
    height: 100vh;
    width: 100vw;
    position: relative;
    /* background-color: red; */
}
#page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page8>#txt{
    color: white;
    position: absolute;
    text-align: center;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#page8>#txt>h1{
    font-size: 70px;
    font-family: Jost;
    font-weight: 300;
}
#page8>#txt>button{
        padding: 12px 25px;

        text-transform: uppercase;
        border: none;
        font-family: Jost;
        font-size: 14px;
        color: #0A45E8;
        border-radius: 50px;
}
